/* 
This is default and very simple styles file for Yasb. 
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
    --mauve: #cba6f7;
    --red: #f38ba8;
    --yellow: #ffd16d;
    --blue: #448fff;
    --lavender: #b4befe;
    --text1: #d4d9eb;
    --text2: #8f929e;
    --text3: #9399b2;
    --text4: #7f849c;
    --bg-color1: #191919;
    --bg-color2: #333333;
}

* {
    font-size: 12px;
    color: var(--text1);
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
}

.yasb-bar {
    background-color: var(--bg-color1);
    border-radius: 8px;
    border: 1px solid var(--bg-color2);
}

/* Global styles for ToolTip */
.tooltip {
    background-color: var(--bg-color1);
    border-radius: 4px;
    color: var(--text1);
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin-top: 4px;
}


.widget {
    padding: 0 12px;
    margin: 0;
}

.icon {
    font-size: 16px;
}

.widget .label {
    padding: 0px 2px;
}




@import "styles/context-menu.css";
@import "styles/battery.css";
@import "styles/brightness.css";
@import "styles/calender.css";
@import "styles/clock.css";
@import "styles/cpu.css";
@import "styles/disk-group.css";
@import "styles/disk.css";
@import "styles/home.css";
@import "styles/komorebi.css";
@import "styles/media.css";
@import "styles/memory.css";
@import "styles/microphone.css";
@import "styles/notes.css";
@import "styles/notification.css";
@import "styles/pomodoro.css";
@import "styles/power.css";
@import "styles/taskbar.css";
@import "styles/todo.css";
@import "styles/volume.css";
@import "styles/weather.css";
@import "styles/systeminfo.css";
@import "styles/close-app-custom-widget.css";