.media-widget {
    padding: 0;
    margin: 0;
}

.media-widget .label {
    color: #d2d6e2;
    padding: 0px;
    padding-right: 4px;
    font-size: 12px;
}

.media-widget .btn {
    color: #9498a8;
    padding: 0 4px;
    margin: 0;
    font-family: "Segoe Fluent Icons";
    font-weight: 400;
}

.media-widget .btn:hover {
    color: #babfd3;
}

.media-widget .btn.play {
    font-size: 16px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}



.media-menu {
    min-width: 440px;
    max-width: 440px;
    background-color: rgba(31, 39, 49, 1);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

.media-menu .artist {
    font-size: 13px;
    color: #6c7086;
    margin-top: 0px;
}

.media-menu .source {
    font-size: 11px;
    color: #000;
    border-radius: 3px;
    background-color: #bac2de;
    padding: 2px 4px;
    font-weight: 600;
    font-family: 'Segoe UI';
    margin-top: 10px;
}

/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.aimp {
    background-color: #6f42c1;
    color: #ffffff;
}

.media-menu .source.apple-music {
    background-color: #fa2b56;
    color: #ffffff;
}

.media-menu .source.brave {
    background-color: #fb542b;
    color: #ffffff;
}

.media-menu .source.chrome {
    background-color: #4285f4;
    color: #ffffff;
}

.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .source.firefox {
    background-color: #ff7139;
    color: #ffffff;
}

.media-menu .source.foobar2000 {
    background-color: #444444;
    color: #ffffff;
}

.media-menu .source.media-player {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .source.murglar {
    background-color: #8a8a8a;
    color: #ffffff;
}

.media-menu .source.musicbee {
    background-color: #ffcc00;
    color: #000000;
}

.media-menu .source.nsmusics {
    background-color: #e64a19;
    color: #ffffff;
}

.media-menu .source.opera {
    background-color: #ff1b2d;
    color: #ffffff;
}

.media-menu .source.qobuz {
    background-color: #003a6f;
    color: #ffffff;
}

.media-menu .source.spotify {
    background-color: #1db954;
    color: #ffffff;
}

.media-menu .source.tidal {
    background-color: #000000;
    color: #ffffff;
}

.media-menu .source.winamp {
    background-color: #f1a11b;
    color: #000000;
}

.media-menu .source.youtube {
    background-color: #ff0000;
    color: #ffffff;
}

.media-menu .source.youtube-music {
    background-color: #c51f1f;
    color: #ffffff;
}

.media-menu .source.zen {
    background-color: #2ecc71;
    color: #000000;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}

.media-menu .btn.prev {
    margin-left: 10px;
}

.media-menu .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: 'Segoe UI';
    color: #7f849c;
    margin-top: 20px;
    min-width: 100px;
}

.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);

}

.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
    background: white;
    border-radius: 3px;
    height: 4px;
}

.media-menu .app-volume-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px 6px;
    border-radius: 16px;
    margin-left: 10px;
}

.media-menu .app-volume-container .volume-slider::groove {
    background: rgba(255, 255, 255, 0.1);
    width: 2px;
    border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::add-page {
    background: white;
    border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::groove:hover {
    background: rgba(255, 255, 255, 0.1);
    width: 6px;
    border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::sub-page {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
    font-size: 16px;
    color: #ffffff;
    font-family: "Segoe Fluent Icons";
    margin-top: 4px;
}

.media-menu .app-volume-container .unmute-button {
    color: #a0a0a0;
}