.media-widget {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.media-widget .btn {
    color: #7a7f8b;
    padding: 0 4px;
    margin: 0;
    font-family: "JetBrainsMono NFP";
    font-weight: 400;
    font-size: 20px;
}

.media-widget .btn:hover {
    color: #babfd3;
}

.media-widget .btn.play {
    font-size: 24px;
    color: #989caa;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.media-menu {
    min-width: 420px;
    max-width: 420px;
    background-color: var(--bg-color1);
    border-radius: 8px;
    border: 1px solid var(--bg-color2);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Segoe UI'
}

.media-menu .artist {
    font-size: 13px;
    color: #6c7086;
    margin-top: 0px;
    margin-bottom: 8px;
}

.media-menu .source {
    font-size: 11px;
    color: #000;
    font-weight: normal;
    border-radius: 3px;
    background-color: #bac2de;
    padding: 2px 4px;

}

.media-menu .source.firefox {
    background-color: #ff583b;
    color: #ffffff;
}

.media-menu .source.spotify {
    background-color: #199143;
    color: #ffffff;
}

.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .source.windows-media {
    background-color: #0078d4;
    color: #ffffff;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}

.media-menu .btn.prev {
    margin-left: 10px;
}

.media-menu .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: 'Segoe UI';
    color: #7f849c;
    margin-top: 20px;
    min-width: 100px;
}

.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);

}

.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
}

.media-menu .progress-slider::sub-page {
    background: white;
    border-radius: 3px;
    height: 4px;
}