.notes-widget {
    padding: 0;
}

.notes-widget .label {
    font-size: 14px;
    color: #dbfeb4;
}

.notes-widget .icon {
    font-size: 16px;
    color: #dbfeb4;
}

/* Notes Widget Menu */
.notes-menu {
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(17, 17, 27, 0.9);
}

.notes-menu .note-item {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.notes-menu .note-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.notes-menu .note-item .icon {
    font-size: 16px;
    padding: 0 4px;
}

.notes-menu .delete-button {
    color: #ff6b6b;
    background: transparent;
    border: none;
    font-size: 8px;
    padding: 7px 8px;
    border-radius: 3px;
}

.notes-menu .delete-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.notes-menu .copy-button {
    color: #babfd3;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 3px;
}

.notes-menu .copy-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.notes-menu .copy-button:pressed {
    color: #ffffff;
}

.notes-menu .note-item .title {
    font-size: 13px;
    font-family: 'Segoe UI'
}

.notes-menu .note-item .date {
    font-size: 12px;
    font-family: 'Segoe UI';
    color: rgba(255, 255, 255, 0.4);
}

.notes-menu .empty-list {
    font-family: 'Segoe UI';
    color: rgba(255, 255, 255, 0.2);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 20px 0;
}

.notes-menu .add-button,
.notes-menu .cancel-button {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Segoe UI'
}

.notes-menu .cancel-button {
    margin-left: 4px;
}

.notes-menu .add-button:hover,
.notes-menu .cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.notes-menu .scroll-area {
    background: transparent;
    border: none;
    border-radius: 0;
}

.notes-menu .note-input {
    background-color: rgba(17, 17, 27, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI';
    font-size: 14px;
    max-height: 30px;
    padding: 4px;
    border-radius: 6px;
}

.note-input:focus {
    border: 1px solid #89b4fa;
}
