.power-menu-widget .label {
    color: #f38ba8;
    font-size: 13px;
}

.power-menu-popup {
    background-color: transparent
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--bg-color1);
    border: 4px solid transparent;
    margin: 0px;
}

.power-menu-popup .button.hover {
    background-color: var(--bg-color1);
    border: 4px solid var(--bg-color1);
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text3)
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--text4)
}

.power-menu-popup .button.hover .label,
.power-menu-popup .button.hover .icon {
    color: rgba(255, 255, 255, 0.808)
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--red);
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

.power-menu-popup .button.cancel.hover .label {
    color: rgb(255, 255, 255)
}

.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text4);
    font-weight: 600;
}