.systeminfo-grouper .container {
    /* The name of the css class is the name given in the config */
    background-color: rgba(46, 52, 64, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 4 0px;
    border-radius: 12px;
}

.systeminfo-grouper .grouper-button {
    font-size: 12px;
    color: #ffffff;
    padding: 0 8px;
    background-color: transparent;
    border: none;
}

.systeminfo-grouper .grouper-button:hover {
    color: #88c0d0;
}